<!doctype html>
<html>
	<head>
		<title>Commenting App</title>
	</head>
	<body>
		<h1>Commenting App</h1>
		<h3>Logged in as {{ current_user.username }}</h3>
		
		<!-- logout button -->
		<form action="{% url 'logout' %}" method="POST">
			<button type="submit">Logout</button>
		</form>

		<!-- comment form TODO -->
		<form action="{% url '' %}" >
			<!-- would have had a text area box and a submit button for posting the comment -->
		</form>

		<!-- display comments -->
		{% if comments %} <!-- (if there are any) -->
			<ul>
				{% for comment in comments %}
				<li>
					<!-- iterate through comments in database, display their author, text, and like counts -->
					<p><strong>From {{comment.author.username}}: </strong></p>
					<p>{{ comment.text }}</p>
					<form>
						<!-- like button with counter -->
						<button type="submit">Likes ({{comment.like_count}})</button>
					</form>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No comments yet.</p> <!-- displayed if there are no comments in db -->
		{% endif %}

	</body>
</html>